<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ericschumacher.eu.provelopment.android.planman" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".HelperClasses.AnalyticsApplication">
        <activity
            android:name=".Activities.Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AufgabeErstellen"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <!--
            android:windowSoftInputMode="stateHidden"
            android:windowSoftInputMode="stateAlwaysVisible"
            -->


        </activity>

        <service
            android:name=".Services.PushNotifications"
            android:exported="false"/>

        <receiver android:name=".HelperClasses.AlarmReceiver">
            <intent-filter>
                <action android:name="packagename.ACTION"/>
                <action android:name="packagename.ACTION2"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".HelperClasses.BootBroadcastReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>


    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

</manifest>
